#character-container {
    width: 60vw;
    margin: auto;
}

#character-profile img {
    float: left;
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.scene-container {
    clear: left;
    width: 60vw;
    margin: auto;
    /* display: flex;
    flex-direction: column; */
}

.scene-container input {
    align-self: center;
}

.scene-container p {
    text-align: justify;
}
