/* --- General --- */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --- Start page --- */

#main-title {
    font-family: 'Carter One';font-size: 60px;
    text-transform: uppercase;
}

#start-menu {
    display: flex;
    flex-direction: column;
}

#start-menu button {
    margin: 10%;
    padding-right: 10%;
    padding-left: 10%;
}

/* --- Character page --- */
/* --- Story page --- */
